h1 {
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    color: rgb(151, 23, 151);
   
}

p {
    color: blue;
}

body{
    background-color: rgb(216, 163, 19);
}
.rules{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
#goal {
    background-color: rgb(83, 216, 83);
    padding: 60px 60px 60px 60px;
    float: left;
   
}
#scores {
    background-color: pink;
    padding: 45px 60px 45px 60px;
    float: left;
    color: white;  
    font-weight: bold;
   
}
.jewel-image {
    width: 100%; 
    max-width: 200px;
    height: auto;
    margin-top: 10px;
    margin-right: 25px;
  }
  