h1 {
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    color: rgb(151, 23, 151);
}
p {
    color:white;
}
body{
    background-color: gold;
}
.rules{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 16px;
}
#goal {
    background-color: rgb(83, 216, 83);
    padding: 30px 30px 30px 30px;
    float: left;
   color: white;
}
#scores {
    background-color: pink;
    padding: 25px 40px 20px 40px;
    float: left;
    color: white;  
    font-weight: bold;
   
}
.jewel-image {
    
    width: 100%;
    max-width: 100px;;
    height: auto;
    margin-top: 5px;
    margin-right: 30px;
    margin-bottom: 5px;
   
  }
#total-score {
    background-color: turquoise;
    padding: 30px 3px 30px 30px;
    align-content: center;
    color: white;
    
}
#crystalsDiv {
    text-align: center;
}