h1 {
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    color: rgb(151, 23, 151);
}

p {
    color: blue;
}

body{
    background-color: rgb(216, 163, 19);
}
.rules{
    margin: 25px 100px 25px 100px;
    text-align: center;
}